<div data-role="view" data-title="Conferências" data-layout="main" data-model="app.conferences" data-show="app.conferences.onShow" data-after-show="app.conferences.afterShow">

    <!-- START_CUSTOM_CODE_conferences -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_conferences -->
    <ul data-role="listview" data-auto-bind="false" data-style="inset" data-template="conferencesModelTemplate" data-bind="{ source: conferencesModel.dataSource, events: {click: conferencesModel.itemClick} }" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_conferencesModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_conferencesModel -->
    <script type="text/x-kendo-template" id="conferencesModelTemplate">
        <div class="image-with-text">
            <h3>#: data['Name'] #</h3>
            <p><span class="#: data.iconTime() #"></span>#: data['Time'] #</p>
            <p><span class="#: data.iconPresenter() #"></span>#: data['Presenter'] #</p>
        </div>
    </script>
</div>