<div id="homeView" data-role="view" data-title="Progress Exchange 2016" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <div class="details-content">
        <h3>
            TESTE
        </h3>
        <p>
            teste
        </p>
    </div>
    <div class="button-group button-group-vertical">
        <a data-role="button" class="primary" onclick="app.home.homeModel.openLink('https://www.progress.com/events/progress-exchange/brasil/registration');">Inscreva-se</a>
    </div>
    <!-- END_CUSTOM_CODE_home -->
</div>